range/registration_station/mfuk_myfid/flows_nodered.json
[{"type":"tab","id":"108dd6d1.5231a9","label":"Sheet 1"},{"id":"174e5c5e.f833dc","type":"sqlitedb","db":"/home/pi/mfuk_myfid/mfuk.db"},{"id":"a36a88b7.b383f8","type":"websocket-listener","path":"/ws/tag_event","wholemsg":"false"},{"id":"918e1ff8.6e71e","type":"twitter-credentials","screen_name":"@mcqn_bot"},{"id":"a8c5e891.03da","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":"on"},{"id":"da3ae8d9.25c518","type":"twitter-credentials","screen_name":"@MFUKLC"},{"id":"345ae388.f58a54","type":"rpi-rfid in","name":"","x":78,"y":218,"z":"108dd6d1.5231a9","wires":[["4f97ce5d.c4048","6ed8862d.2130c8"]]},{"id":"4f97ce5d.c4048","type":"debug","name":"","active":true,"console":"false","complete":"false","x":273,"y":278,"z":"108dd6d1.5231a9","wires":[]},{"id":"85261f1e.0c03a8","type":"http in","name":"","url":"/jquery.min.js","method":"get","x":149,"y":36,"z":"108dd6d1.5231a9","wires":[["b8a1f048.432ee"]]},{"id":"b8a1f048.432ee","type":"file in","name":"","filename":"/home/pi/mfuk_myfid/jquery-2.1.3.min.js","format":"utf8","x":415,"y":36,"z":"108dd6d1.5231a9","wires":[["812ba54a.24931"]]},{"id":"812ba54a.24931","type":"http response","name":"","x":659,"y":36,"z":"108dd6d1.5231a9","wires":[]},{"id":"7b6e9758.298518","type":"http response","name":"","x":629,"y":119,"z":"108dd6d1.5231a9","wires":[]},{"id":"7c865892.ea6428","type":"file in","name":"","filename":"/home/pi/mfuk_myfid/myfid_form.html","format":"utf8","x":407,"y":119,"z":"108dd6d1.5231a9","wires":[["7b6e9758.298518"]]},{"id":"db99e97a.02fd18","type":"http in","name":"","url":"/register","method":"get","x":164,"y":119,"z":"108dd6d1.5231a9","wires":[["7c865892.ea6428"]]},{"id":"689c76b.aa09188","type":"http in","name":"","url":"/add_card","method":"post","x":86,"y":325,"z":"108dd6d1.5231a9","wires":[["16257ec3.4a45f9"]]},{"id":"a64236f5.cea078","type":"sqlite","mydb":"174e5c5e.f833dc","name":"","x":533,"y":326,"z":"108dd6d1.5231a9","wires":[["fd540bac.eca778","16dfe163.2b64a7"]]},{"id":"fc179754.64989","type":"inject","name":"Create \"users\" table","topic":"CREATE TABLE users (id VARCHAR UNIQUE, name VARCHAR, twitter VARCHAR);","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":274,"y":386,"z":"108dd6d1.5231a9","wires":[["a64236f5.cea078"]]},{"id":"fd540bac.eca778","type":"debug","name":"","active":true,"console":"false","complete":"false","x":766,"y":327,"z":"108dd6d1.5231a9","wires":[]},{"id":"16257ec3.4a45f9","type":"function","name":"Add it to the database","func":"msg.topic = \"INSERT OR REPLACE INTO users (id,name,twitter) VALUES (?,?,?)\";\nmsg.payload = [\n  msg.req.body.rfid, \n  msg.req.body.name, \n  msg.req.body.twitter.replace(/@/g, \"\")];\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"valid":true,"x":282,"y":325,"z":"108dd6d1.5231a9","wires":[["a64236f5.cea078"]]},{"id":"d28094dd.34219","type":"websocket out","name":"","server":"a36a88b7.b383f8","client":"","x":713,"y":210,"z":"108dd6d1.5231a9","wires":[]},{"id":"6ed8862d.2130c8","type":"switch","name":"","property":"topic","rules":[{"t":"eq","v":"pi/rfid-presented"},{"t":"eq","v":"pi/rfid-removed"}],"checkall":"true","outputs":2,"x":267,"y":218,"z":"108dd6d1.5231a9","wires":[["d28094dd.34219"],["3ea2ad7f.c3de9a"]]},{"id":"3ea2ad7f.c3de9a","type":"template","name":"Tag removed","field":"payload","format":"handlebars","template":"removed","x":466,"y":246,"z":"108dd6d1.5231a9","wires":[["d28094dd.34219"]]},{"id":"6a91dc0a.516404","type":"http in","name":"","url":"/jquery.scrollTo.min.js","method":"get","x":123,"y":78,"z":"108dd6d1.5231a9","wires":[["1eb47b15.5d6e3d"]]},{"id":"1eb47b15.5d6e3d","type":"file in","name":"","filename":"/home/pi/mfuk_myfid/jquery.scrollTo-2.1.0/jquery.scrollTo.min.js","format":"utf8","x":488,"y":78,"z":"108dd6d1.5231a9","wires":[["d2707913.b871c8"]]},{"id":"d2707913.b871c8","type":"http response","name":"","x":811,"y":78,"z":"108dd6d1.5231a9","wires":[]},{"id":"8f5b12af.ca5528","type":"inject","name":"","topic":"","payload":"0x04742c32d92a80,1234","payloadType":"string","repeat":"","crontab":"","once":false,"x":146,"y":442,"z":"108dd6d1.5231a9","wires":[["794dee8d.403b58"]]},{"id":"794dee8d.403b58","type":"function","name":"Find the user in the database","func":"// Split the input into ID and score\ninfo = msg.payload.split(\",\");\nmsg.topic = \"SELECT * FROM users WHERE id LIKE ?\";\nmsg.payload = [info[0]];\nmsg.score = info[1].trim();\nconsole.log(msg.payload);\nconsole.log(msg.score);\nreturn msg;","outputs":1,"valid":true,"x":393,"y":466,"z":"108dd6d1.5231a9","wires":[["f7b307cc.75f348"]]},{"id":"f7b307cc.75f348","type":"sqlite","mydb":"174e5c5e.f833dc","name":"","x":657,"y":466,"z":"108dd6d1.5231a9","wires":[["450837cd.4be02"]]},{"id":"450837cd.4be02","type":"function","name":"Compose tweet","func":"tweet = \"New score of \"+msg.score+\" from \";\nif (msg.payload.length != 0) {\n    if (msg.payload[0].twitter != \"\") {\n        // They're on twitter\n        msg.payload = tweet+\"@\"+msg.payload[0].twitter;\n    } else {\n        msg.payload = tweet+msg.payload[0].name;\n    }\n} else {\n    msg.payload = tweet+\"the unknown nerfer\";\n}\nreturn msg;","outputs":1,"valid":true,"x":544,"y":575,"z":"108dd6d1.5231a9","wires":[["de9c444e.a15828","ad33ad58.52cc5"]]},{"id":"de9c444e.a15828","type":"debug","name":"","active":true,"console":"false","complete":"false","x":723,"y":545,"z":"108dd6d1.5231a9","wires":[]},{"id":"4274680e.cb9778","type":"inject","name":"","topic":"","payload":"0x2c32d92a80,34","payloadType":"string","repeat":"","crontab":"","once":false,"x":150,"y":484,"z":"108dd6d1.5231a9","wires":[["794dee8d.403b58"]]},{"id":"ad33ad58.52cc5","type":"twitter out","twitter":"da3ae8d9.25c518","name":"Tweet","x":707,"y":594,"z":"108dd6d1.5231a9","wires":[]},{"id":"d195a477.c1d76","type":"http response","name":"","x":773,"y":397,"z":"108dd6d1.5231a9","wires":[]},{"id":"16dfe163.2b64a7","type":"function","name":"Check for errors","func":"// At the moment I'm not sure how we spot errors\n// so just return success :-)\nmsg.statusCode = 200;\nmsg.payload = \"Success\";\nreturn msg;","outputs":1,"valid":true,"x":621,"y":397,"z":"108dd6d1.5231a9","wires":[["d195a477.c1d76"]]},{"id":"fb362dbb.4cf418","type":"file in","name":"","filename":"/home/pi/mfuk_myfid/pure-release-0.6.0/pure-min.css","format":"utf8","x":486,"y":158,"z":"108dd6d1.5231a9","wires":[["21f3a55f.e4d782"]]},{"id":"50996625.d26c8","type":"http in","name":"","url":"/pure-min.css","method":"get","x":121,"y":158,"z":"108dd6d1.5231a9","wires":[["fb362dbb.4cf418"]]},{"id":"21f3a55f.e4d782","type":"http response","name":"","x":809,"y":158,"z":"108dd6d1.5231a9","wires":[]},{"id":"2768f2ad.d51fee","type":"serial in","name":"Read in a score","serial":"a8c5e891.03da","x":165,"y":539,"z":"108dd6d1.5231a9","wires":[["794dee8d.403b58","de9c444e.a15828"]]}]